footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  .bg-dark {
    background-color: #333;
  }
  
  .text-white {
    color: #fff;
  }
  
  .text-center {
    text-align: center;
  }
  
  .py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }