main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
  }
  
  section {
    width: 100%;
    
  
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto; // Centra la imagen
    }
  
    h2, h3, h4, h5, h6 {
      text-align: center;
    }
  }