


section li{
   
    list-style: none;
} /*Lo que hice es modificarle el estilo de lista para que quede mas prolijo*/
.Pastas{
    color: rgb(95, 53, 53);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;}

.Postres{
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;


}
.Ensaladas{color: rgba(165, 42, 42, 0.74);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;

}
.Tortas{color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;

    

}
body {
    background-color: rgba(240, 173, 91, 0.63);
}
.paragraph-one {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.carrot-cake{
    width: 20%
}
.chocotorta{
    width: 30%
}
.Ensaladas{
    width: 30%
}
.Spaguetti{
    width: 25%
}