body {
  @media screen { max-width: 100%;}
    
  background: linear-gradient(rgba(228, 69, 69, 0.685), rgba(195, 72, 219, 0.774), rgb(228, 225, 66));
    /*background-color: rgba(82, 236, 43, 0.616);*/
    display: grid;
    justify-content: center;
    
    /*Ensaladas*/
     .div-Ensaladas{
      
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: rgb(75, 5, 54);
      margin-left: 33%;
      font-family: cursive;
      margin-bottom: 35px;
      text-decoration:underline;
      
     }

     /*Pastas*/
     .div-Pastas{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: rgb(75, 5, 54);
      margin-left: 33%;
      font-family: cursive;
      margin-bottom: 30px;
      text-decoration:underline;

     }


     .div-Postres{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: rgb(75, 5, 54);
      margin-left: 33%;
      font-family: cursive;
      margin-bottom: 30px;
      text-decoration:underline;


     }



     /*TORTAS*/
     .div-Tortas{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: rgb(75, 5, 54);
      margin-left: 33%;
      font-family: cursive;
      margin-bottom: 30px;
      text-decoration:underline;

     }
     
    
    
      
      
      
  }
    
  
