body {
  @media screen { max-width: 100%;}
    
  background: linear-gradient(rgba(228, 69, 69, 0.685), rgba(195, 72, 219, 0.774), rgb(228, 225, 66));
    /*background-color: rgba(82, 236, 43, 0.616);*/
    display: grid;
    justify-content: center;
    
    
    
    
    .h1-ensaladas{
      
      
      p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #2b2914;
        
      }
     
    }
    /*Ensaladas*/
     .Menu-Barra{
      
      
      text-align: center;
      padding: 10px 0;
      position: relative;
      h1{
        background-color: aqua;
        height: 50px;
      }
     
     
    }
    .Nav-Bar{
      list-style:circle;
      padding: 10px;
      margin: 10px 100px ;
      display: flex;
      justify-content: center;
      
      }
      
      
      
    
    }
  
