footer {
 background-color:  rgba(228, 225, 66, 0.267) ;
     color: rgba(192, 49, 39, 0.815);
    text-align: center;
    padding: 10px 0;
    font-style: italic 150px;
    font-family: monospace;
    font-size: 20px;
    .instagram{
      font-size: 20px;
      color: rgba(65, 13, 26, 0.795);
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-decoration: none; 
    }
   .boton-inicio{
    color: rgb(75, 5, 54);
      font-size: 30px;
      font-family: cursive;
    margin-right: 100%;
    margin-left: 5px;
    
   
   }
   
  }
  
 
  
  
  