footer {
  
    background-color: #ce3636c7;
    color: #dbb5b5;
    text-align: center;
    padding: 10px 0;
    
  }
  p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  a{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
  }
 
  
  
  