footer {
  background-color: rgba(37, 34, 34, 0.616);
     color: aqua;
    text-align: center;
    padding: 10px 0;
    font-style: italic 150px;
    font-family: monospace;
    .instagram{
      background-image: url(chocotorta.png);
      color: rgb(65, 13, 26);
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-decoration: none; 
    }
   
  }
  
 
  
  
  