
header {
  display: grid;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;

  
  
    h1 {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 50px;
      text-align: center;
      justify-content: space-around;
      
    }
  
    ul {
      background-color: aqua;
      list-style: none;
      padding: 10px;
      margin: 10px 100px ;
      display: flex;
      justify-content: center;
  
      li {
        margin: 0 10px;
        a {
          text-decoration: none;
          color: #ffffff;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    
    
  }
  