
header {
  .conteiner-1{
   @media screen {min-height: 320px; max-width: 2560px;}
   margin-top: 80px;

  }
  
   
  
  
   .Titulo{          /**/
    
   font-family:cursive;
    font-style: unset;
      font-size: 50px;
      text-align: center;
      justify-content: center;
      color: rgba(89, 6, 158, 0.678);
      
  
    }
  
    ul {
     /* background-color: rgb(208, 230, 230);*/
     display: flex;
     font-family: cursive;
     color: rgb(0, 0, 0);
      list-style: none;
      padding: 10px;
      margin: 10px 10px ;
      justify-content: center;
      text-decoration: none;
     } 
     .menu{
   
      li {  
        margin: 0 10px;
        a {
          
          border-bottom: 3px solid rgba(0, 0, 0, 0.486);
          border-radius: 100%;
          text-decoration: none;
          
          
          color: #2427e98f;
          &:hover {
            text-decoration:none;
            font-size: 25px;
          }
        }
      }
      
     }
     
  
    
      
    
    
  }
  