
header {
  .conteiner-1{
   @media screen {min-height: 320px; max-width: 2560px;}
   margin-top: 80px;

  }
  
   
  
  
    h1 {
    
     font-family: fantasy;
      font-size: 50px;
      text-align: center;
      justify-content: center;
      color: rgba(224, 80, 80, 0.678);
      
      
      
    }
  
    ul {
     /* background-color: rgb(208, 230, 230);*/
     
      list-style: none;
      padding: 10px;
      margin: 10px 10px ;
      display: flex;
      justify-content: center;
      text-shadow: 0px 0px 8px rgb(146, 106, 46), 0px 0px 12px rgb(231, 119, 119),0px 0px 16px black;
  
    }
    
    
  }
  