main {
  @media screen {max-width: 1920px;}

display: flex;
  section {
    
    .texto-entrada{
     font-size: 35px;
     }
     .parrafo-entrada{
      color: rgb(87, 64, 34);
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-align: center;
      text-shadow: 0px 0px 8px rgb(243, 37, 209), 0px 0px 12px rgb(231, 119, 119),0px 0px 16px black;
      margin-bottom: 60px;

      

     }
     
    
  }

    .carrotcake{ /*IMAGEN CARROT-CAKE*/ 
      justify-content: space-around;
    
      margin-bottom: 10%;
      margin-left: 15px;
      max-height: 350px;
      border-radius: 25%;
     } 
      .texto-carrot{ /*TEXTO CARROT*/
      /*background-color: aqua;*/
      color: rgb(231, 248, 168);
     
}
    
    .chocotorta{ /*IMAGEN CHOCOTORTA*/
      margin-left: 70%;
      border-radius: 30%;
    }
    .texto-Chocotorta{ /*TEXTO-CHOCOTORTA*/
      color: aqua;

    }
      
    
    .Ensaladas{ /*IMAGEN ENSALADAS*/
      max-width: 25%;
      border-radius: 24px;  
      
    }
    .texto-Ensalada{/*TEXTO ENSALADAS*/
      color: blue;

    }
    .spaguetti{ /*IMAGEN SPAGUETTI*/
      margin-left: 60%;
      border-radius: 25px;
      max-width: 35%;
    }
    .texto-Spaguetti{
      color: chocolate;
    }
      
      
     
    
    .hr-main{
     color: rgb(0, 0, 0);
    }
  }
    

      
    


    
  