main {
  @media screen {max-width: 1920px;}

display: flex;
  section {
    
    .texto-entrada{
     font-size: 35px;
     }
     .parrafo-entrada{
      color: rgb(87, 64, 34);
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-align: center;
      text-shadow: 0px 0px 8px rgb(243, 37, 209), 0px 0px 12px rgb(231, 119, 119),0px 0px 16px black;
      margin-bottom: 60px;

      

     }
     
    
  }

    .carrotcake{ /*IMAGEN CARROT-CAKE*/ 
      justify-content: space-around;
    
      margin-bottom: 5%;
      margin-left: 15px;
      max-height: 350px;
      border-radius: 25%;
     } 
      .texto-carrot{ /*TEXTO CARROT*/
      /*background-color: aqua;*/
      color: rgb(54, 70, 5);
      font-family:cursive;
      font-size: 30px ;
      margin-left: 15px;
      
     
}
    
    .chocotorta{ /*IMAGEN CHOCOTORTA*/
      margin-left: 70%;
      border-radius: 30%;
      margin-bottom: 5%;
    }
    .texto-Chocotorta{ /*TEXTO-CHOCOTORTA*/
      color: rgb(7, 53, 53);
      font-size: 30px;
      font-family: cursive;
      margin-left: 15px;
    
    }
      
    
    .Ensaladas{ /*IMAGEN ENSALADAS*/
      max-width: 25%;
      border-radius: 24px;
      margin-bottom: 5%;  
      margin-left: 15px;
      
    }
    .texto-Ensalada{/*TEXTO ENSALADAS*/
      color: rgb(75, 5, 54);
      font-size: 30px;
      font-family: cursive;
      margin-left: 15px;

    }
    .spaguetti{ /*IMAGEN SPAGUETTI*/
      margin-left: 60%;
      border-radius: 25px;
      max-width: 35%;
      margin-bottom: 5%;
    }
    .texto-Spaguetti{
      color: rgb(7, 49, 43);
      font-size: 30px;
      font-family: cursive;
      margin-left: 15px;
    }
      
      
     
    
    .hr-main{
     color: rgb(0, 0, 0);
    }
    
      
  
    /*ENSALADA*/
   .section-Ensalada-1{
    

     .h1-ensaladas{
 
      p{ 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(75, 5, 54);
        margin-left: 500px;
        font-family: cursive;
      }
    }
    .img-Ensalada-1{
      border-radius: 25%;
      max-width: 90%;
    }
    .Ingredientes-Ensalada{
      color: rgb(75, 5, 54);
      text-decoration: underline;
    
    }
    .ing-Ensalada{
      color: rgb(75, 5, 54);
      font-size: 18px;
      font-family: cursive;
      list-style:circle;
    }
  }
  .section-Ensalada-2{
    .Preparacion{
      margin-left: 20%;
      color: rgb(75, 5, 54);
      text-decoration: underline;
    }
    .pasos-Ensalada{
      color: rgb(75, 5, 54);
      font-size: 18px;
      font-family: cursive;
      list-style:decimal;
      
    }
    
  }

      /*Pastas*/
  .section-Pastas-1{
    display: grid;
    

    .img-Spaguetti-1{
      border-radius: 25%;
      max-width: 100%;
     
    }
    .Ingredientes{
      color: rgb(75, 5, 54);
      text-decoration: underline;
    }  
    .ing-Pastas{
      color: rgb(75, 5, 54);
      font-size: 18px;
      font-family: cursive;
      list-style:circle;

    }

  }
  .section-Pastas-2{
    
    .Preparacion{
      margin-left: 35px;
      color: rgb(75, 5, 54);
      text-decoration: underline;

    }
    .Pasos-Pastas{
     text-align: justify;
      color: rgb(75, 5, 54);
      font-size: 18px;
      font-family: cursive;
      list-style:decimal;
      margin-left: 15px;
    }


  }


      /*POSTRES*/

  .section-Postres-1{

    .img-Postres-1{
      border-radius: 50% 15px ;
      max-width: 135%;
    }
    .Ingredientes-Postres{
      color: rgb(75, 5, 54);
      text-decoration: underline;

    }
    .ing-Postres-1{
      color: rgb(75, 5, 54);
      font-size: 18px;
      font-family: cursive;
      list-style:circle;
    }

  }
  .section-Postres-2{
    .Preparacion{
      margin-left: 35px;
      color: rgb(75, 5, 54);
      text-decoration: underline;
      margin-left: 10%;


    }
    .Pasos-Postres{
      text-align: justify;
      color: rgb(75, 5, 54);
      font-size: 18px;
      font-family: cursive;
      list-style:decimal;
      margin-left: 10%;

    }
  }


  /*TORTAS*/
  .section-Tortas-1{

    .img-Tortas{
      border-radius: 15px  ;
      max-width: 40%;
    }
    .ing-Tortas{
      color: rgb(75, 5, 54);
      text-decoration: underline;

    }
    .ingredientes-Tortas{
      color: rgb(75, 5, 54);
      font-size: 18px;
      font-family: cursive;
      list-style:circle;
    }
  }
  .section-Tortas-2{

    .Preparacion{
      margin-left: 35px;
      color: rgb(75, 5, 54);
      text-decoration: underline;
      margin-left: 10%;

    }
    .Pasos-Tortas{
      text-align: justify;
      color: rgb(75, 5, 54);
      font-size: 18px;
      font-family: cursive;
      list-style:decimal;
      margin-right: 55%;
      

    }

  }



}
  
    
 
      
    


    
  